body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background: #1e293b;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}


.content {
  flex: 1;
  padding: 10px;
  background: #f1f5f9;
  overflow-y: auto;
}


.placeholder {
  text-align: center;
  margin-top: 100px;
  color: gray;
}